# Ignorar carpeta .vscode
.vscode/

# Ignorar carpeta .work
work/

# Ignorar carpeta build
build/

# Ignorar archivos ejecutables de Windows
*.exe

# Ignorar archivos binarios comunes
*.out
*.app
*.run
*.bin
